[user]
	name = Mihir Samdarshi
	email = mihirsamdarshi@users.noreply.github.com
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
  autocrlf = input
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[push]
  autoSetupRemote = true
  followTags = true
[fetch]
  all = true
  pruneTags = true
[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[rebase]
  autoSquash = true
  updateRefs = true
  autoStash = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true

[diff]
  external = difft
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[alias]
  dft = difft
  dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff; }; f"
	rb = rebase --committer-date-is-author-date
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"


